<a href="https://colab.research.google.com/github/HAdeelAli11/masar/blob/main/Project%E2%80%8F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Loops**

### **Q1.**
Loop through and print out all even numbers from the numbers list in the same order they are received. Don't print any numbers that come after 52 in the sequence.

In [16]:
nums = [229, 792, 857, 579, 974, 346, 649, 454, 698, 347, 236, 297, 150, 698, 294, 663, 556, 712, 271, 283, 705, 347, 725, 716, 486, 642, 644, 728, 409, 208, 421, 799, 52, 796, 441, 374, 60, 948, 143, 698, 934, 561, 917, 678, 666, 476, 23, 743, 836, 655, 971, 372, 215, 567, 462, 127, 208, 683, 618, 96, 329, 92, 934, 992, 120, 944, 605, 78, 87, 216, 62, 919, 462, 597, 671, 493, 540, 451, 885, 375, 606, 90, 607, 443, 240, 708, 674, 111, 165, 858, 799, 39, 383, 602, 695, 689, 726, 344, 2, 335]

for a in nums:
  if a == 52:
      break
  if a % 2 == 0:
    print(a)

792
974
346
454
698
236
150
698
294
556
712
716
486
642
644
728
208

### **Q2.**
Prints out 0,1,2,3,4,...,9 and then it prints "count value reached 10"

In [23]:
counter = 0
while counter < 10 :
  print(counter)
  counter += 1

0
1
2
3
4
5
6
7
8
9

### **Function**

### **Q1.**
Write a Python function that takes a list and returns a new list with distinct elements from the first list.

In [27]:
def uniq(list_given):
  return set (list_given)

In [28]:
uniq([1,2,3,3,3,3,4,5])

{1, 2, 3, 4, 5}

### **Q2.**
function to find the factorial of a number

In [30]:
def fact(i):
  if i==0:
    return 1
  else:
    return i*fact(i-1)
number=0
print("The factorial of",number,"=",fact(number))

The factorial of 0 = 1

### **Quiz**
Write a Python function called even_squares that takes a list of integers as input and returns a new list containing the squares of even numbers from the original list.

In [34]:
def even_squares(number):
  EvenSquareList=[]
  for a in number:
    if a % 2 == 0:
      sequare=int(a**2)
      EvenSquareList.append(sequare)
  return EvenSquareList
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = even_squares(number)
print(result)

[4, 16, 36, 64, 100]